h1,
h3,
span,
p,
li,
button {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0px;
	background-color: #edf5e1;
}
/*
##### color theme used ofor this template: used something similar to EW colors but we can use something different #####
  dark blue: #05386B
  dark green: #379683
  green: #5CDB95
  mint-green: #8EE4AF
  beige: #EDF5E1
*/
.navbar {
	display: flex;
	height: 64px;
	background-color: #05386b;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.navbar > span {
	font-size: 30px;
	font-weight: 800;
	color: #edf5e1;
	text-transform: capitalize;
	margin-right: 16px;
	cursor: pointer;
}

.navbar > span:hover {
	text-decoration: underline;
}

.main {
	min-height: 100vh;
	background-color: white;
}

.section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 80px 20px;
}

.section.about-me {
	padding: 120px 0px;
	width: 80%;
	max-width: 1320px;
	margin: 0 auto;
}

.section.js-challenges {
	background-color: #edf5e1;
	display: flex;
	flex-direction: column;
}

.avatar-container {
	position: relative;
	overflow: hidden;
	height: 400px;
	width: 400px;
	border-radius: 44%;
}
.avatar {
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
	object-position: top center;
}

.check-solution-btn {
	background-color: #379683;
	border: none;
	color: white;
	padding: 15px 32px;
	margin: 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
